<h3>Application Form </h3>


<form action="/job/{{job['id']}}/apply" method="post">
    <div class="mb-2">
        <label> Full Name</label></br>
        <input type="text" name="Full Name" placeholder="Harsh Kashyap"></br>
    </div>
    <div class="mb-2">
        <label> Email</label></br>
        <input type="text" name="Email" placeholder="harshinprivate@gmail.com"><br>
    </div>
    <div class="mb-2">
        <label>LinkedIn Url</label></br>
        <textarea type="text" name="LinkedIn" placeholder="https://www.linkedin.com/in/harshkashyap/        "></textarea><br>
    </div>
    <div class="mb-2">
        <label>Skill Set</label></br>
        <textarea type="text" name="Skill Set"></textarea>
    </div>
    <div class="mb-2">
        <label>Education</label></br>
        <textarea  name="Education" ></textarea>
    </div>
    <div class="mb-2">
        <label>Experience</label></br>
        <textarea  name="Experience" ></textarea>
    </div>
    <div class="mb-2">
        <label>Resume Url</label></br>
        <input name="Resume" >
    </div>
    <div class="mb-2">
        <input type="submit" name="submit">
    </div>

</form>